.intro {
  width: auto;
  height: auto;
  margin-top: 100px;
}
.intro .intro_left {
  float: left;
  padding: 157px 130px 0 135px;
  width: 55%;
  height: auto;
  box-sizing: border-box;
}
.intro .intro_right {
  width: 45%;
  height: auto;
  box-sizing: border-box;
  float: left;
  padding: 84px 160px 120px 0;
}

.intro_left h2 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
}
.intro_left p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
  padding: 32px 101px 32px 0;
  margin: 0;
}
.intro_left .search {
  width: 90%;
  height: 80px;
  margin-right: 101px;
  background-color: #ffffff;
  clear: left;
  border-radius: 58px;
}

.intro_right .anh_one {
  width: 370px;
  height: 579px;
  border-radius: 233px 233px 0px 0px;
  position: absolute;
}
.intro_right .anh_two {
  width: 147px;
  height: 230px;
  border: 8px solid #ffffff;
  border-radius: 160px;
  position: relative;
  left: 300px;
  top: 220px;
}

.search .sea_Location {
  width: 49.7%;
  height: 100%;
  float: left;
  padding: 10px 23px 23px 23px;
  box-sizing: border-box;
}
.search .sea_Date {
  width: 49.7%;
  height: 5px;
  float: left;
  padding: 10px 23px 23px 23px;
  box-sizing: border-box;
  display: flex;
}

.sea_Location img {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 15px;
  margin-right: 5px;
}
.sea_Location .sea_Lo_content {
  float: left;
}
.sea_Location .sea_Lo_content p {
  padding: 0;
  font-size: 11px;
  margin: 0;
  color: #808080;
}
.sea_Location .sea_Lo_content span {
  padding: 0;
  font-size: 11px;
  margin-bottom: 10px;
  color: #112b3c;
}

.gach {
  width: 1px;
  height: 35px;
  border-left: 1px solid #808080;
  float: left;
  display: block;
  margin-top: 25px;
}

.sea_Date .bx-search {
  background-color: #e61c5d;
  width: 30px;
  height: 30px;
  font-size: 18px;
  float: right;
  color: #ffffff;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 15px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.sea_Date img {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 15px;
  margin-right: 5px;
}
.sea_Date .sea_Da_content {
  float: left;
}
.sea_Date .sea_Da_content p {
  padding: 0;
  font-size: 11px;
  margin: 0;
  color: #808080;
}
.sea_Date .sea_Da_content span {
  padding: 0;
  color: #112b3c;
  font-size: 11px;
  margin-bottom: 10px;
}

// *****  2 ******

.information {
  width: auto;
  height: 800px;
}
.information .information_img {
  width: 60%;
  float: left;
  padding: 0 134px 0 134px;
  box-sizing: border-box;
  margin-top: 100px;
}
.information .information_content {
  margin-top: 200px;
  width: 40%;
  float: left;
  padding: 156px 137px 0 0;
  box-sizing: border-box;
}

.information_img .boss_img {
  width: 100%;
  height: 100%;
}

.boss_img .img_one {
  width: 365px;
  height: 579px;
  border-radius: 233px;
  position: absolute;
  margin-top: 100px;
}
.boss_img .img_two {
  width: 300px;
  height: 428px;
  border-radius: 237px;
  position: relative;
  left: 242px;
  top: 364px;
  margin-bottom: 200px;
}

.information_content .content_About {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}
.information_content .info_content_folow {
  width: 100%;
  height: 100px;
}

.content_About p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  color: #e61c5d;
}
.content_About h2 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  margin-top: 2px;
  color: #112b3c;
}
.content_About span {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #808080;
}

.info_content_folow {
  display: flex;
}
.info_content_folow .box {
  width: 25%;
  height: 100%;
}
.info_content_folow h2 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
  color: #e61c5d;
}
.info_content_folow p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #808080;
  margin: 0;
}

// **** 3 *****

.Cach {
  clear: left;
  margin-bottom: 216px;
}

.Sites {
  width: 100%;
  height: auto;
  padding: 0 135px 0px 135px;
  box-sizing: border-box;
}
.Sites .title {
  width: 100%;
  height: auto;
}
.Sites .folder {
  width: 100%;
  height: auto;
  clear: left;
  margin-bottom: 120px;
}

.title .title_content {
  float: left;
  margin-bottom: 50px;
}
.title .title_content p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 4px;
  color: #e61c5d;
}
.title .title_content h2 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #112b3c;
}
.title .title_icon {
  float: right;
  margin-top: 60px;
}
.title .title_icon .bx {
  font-size: 23px;
  padding: 6px;
  background-color: rgba(230, 28, 93, 0.04);
  color: #e61c5d;
  border-radius: 50%;
}

.folder {
  display: flex;
}
.folder .bxx {
  width: 33.3333333333%;
  height: auto;
  background-color: #ffffff;
  border-radius: 15px;
}
.folder .location_two {
  margin-left: 30px;
  margin-right: 30px;
}

.location_one .anhne {
  width: 100%;
  height: 300px;
  border-radius: 16px 16px 0px 0px;
  background-image: url("../public/imgs/diadanh_1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 380px;
}
.location_one .anhne:hover {
  width: 200;
  height: 300px;
  transition: 0.7s;
  background-repeat: no-repeat;
  background-image: url("../public/imgs/daidanh_1hover.jpeg");
}

.location_two .anhne {
  width: 100%;
  height: 300px;
  border-radius: 16px 16px 0px 0px;
  background-image: url("../public/imgs/diadanh_2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 380px;
}
.location_two .anhne:hover {
  width: 200;
  transition: 0.7s;
  height: 300px;
  background-repeat: no-repeat;
  background-image: url("../public/imgs/daidanh2hover.jpg");
}

.location_three .anhne {
  width: 100%;
  height: 300px;
  border-radius: 16px 16px 0px 0px;
  background-image: url("../public/imgs/diadanh_3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 380px;
}
.location_three .anhne:hover {
  transition: 0.7s;
  width: 200;
  height: 300px;
  background-repeat: no-repeat;
  background-image: url("../public/imgs/daidanh3hover.jpg");
}

.location_one .folder_content {
  width: auto;
  height: auto;
  margin: 20px 26px 24px;
  box-sizing: border-box;
}

.bxx .folder_content {
  width: auto;
  height: auto;
  margin: 20px 26px 30px 24px;
  box-sizing: border-box;
}

.folder_content p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 132%;
  color: #112b3c;
  margin: 0;
  margin-bottom: 8px;
  cursor: pointer;
}
.folder_content p:hover {
  color: #e61c5d;
}
.folder_content span {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #808080;
}
.folder_content a {
  text-decoration: none;
  color: #ffbd39;
}
.folder_content h3 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 132%;
  float: left;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 30px;
  color: #e61c5d;
}
.folder_content blockquote {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 132%;
  margin: 0;
  float: right;
  margin-top: 20px;
  color: #808080;
}

// ***** 5 *****

.Testimonial {
  width: 100%;
  height: auto;
  padding: 0 135px 84px 135px;
  box-sizing: border-box;
}
.Testimonial .tour {
  clear: left;
}

.Testimonial_header p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #e61c5d;
}
.Testimonial_header h3 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  text-align: center;
  margin: 4px 284px 80px 295px;
}

.evaluate {
  width: 100%;
  height: auto;
}
.evaluate .bx {
  display: flex;
  float: left;
  font-size: 23px;
  padding: 6px;
  background-color: rgba(230, 28, 93, 0.04);
  border-radius: 50%;
}
.evaluate .bxn:hover {
  background-color: #e61c5d;
  color: #ffffff;
}
.evaluate .bx-chevron-left {
  color: #e61c5d;
  align-items: center;
  margin-top: 193px;
  cursor: pointer;
}
.evaluate .boxx {
  width: 25.6666666667%;
  height: auto;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 46px 37px 42px 41px;
  float: left;
  margin-bottom: 120px;
}
.evaluate .bx-chevron-right {
  float: right;
  color: #e61c5d;
  margin-left: 52px;
  margin-top: 193px;
  cursor: pointer;
}
.evaluate .evaluate_one {
  margin-left: 52px;
}
.evaluate .evaluate_two {
  margin: 0 32px 0 32px;
}
.boxx * {
  text-align: center;
}
.boxx .img_client {
  width: 80px;
  height: 80px;
  background-color: aqua;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 46px;
  margin: 0 auto;
}
.boxx h2 {
  color: #112b3c;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 12px 0 4px 0;
}
.boxx blockquote {
  margin: 0;
  color: #808080;
}
.boxx .icon {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 12px;
}
.boxx i {
  color: #ffbd39;
}
.boxx p {
  margin: 0;
  color: #808080;
}

.boxx:hover {
  border: 2px solid #e61c5d;
}

.img_client img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center;
  object-position: center;
}

.tour_header * {
  margin: 0 auto;
  text-align: center;
}
.tour_header h2 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  text-align: center;
  padding: 0 247px;
  box-sizing: border-box;
  color: #112b3c;
}
.tour_header p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 32px 0;
  color: #808080;
}
.tour_header button {
  padding: 18px 24px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border: 2px solid #e61c5d;
  border-radius: 45px;
  background-color: #e61c5d;
  color: #ffffff;
  display: block;
  margin-bottom: 52px;
  cursor: pointer;
}
.tour_header button:hover {
  background-color: #ac0036;
  color: #000000;
}

.tour_information {
  margin: 0 auto;
  width: 100%;
  height: auto;
  justify-content: space-between;
  display: flex;
  gap: 30px;
}

.tour_information .t_i {
  float: left;
  width: auto;
  height: auto;
  padding: 8px 10px 25px 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10px;
}
.t_i .part_img {
  width: 100%;
  height: 190px;
}
.t_i .part_img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.t_i .part_img img:hover {
  width: 100%;
  height: 260px;
  transition: 0.7s;
  position: relative;
  border-radius: 3px;
}
.t_i h3 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 132%;
  margin: 12px 0;
}
.t_i p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 132%;
  color: #808080;
  margin: 0;
}
.t_i a {
  text-decoration: none;
  color: #e61c5d;
  font-size: 25px;
  font-weight: 700;
  margin-right: 13px;
}

.Last {
  width: auto;
  height: auto;
  padding: 119px 134px 119px 135px;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.Last .bxxx {
  float: left;
  width: auto;
  height: auto;
}

.bxxx span {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
}
.bxxx p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  margin: 18px 0 20px 0;
  color: #808080;
}

.Tripy img {
  width: 55px;
  height: 29px;
}
.Tripy .bx {
  width: 24px;
  height: 24px;
  color: #e61c5d;
}

.Newsletter input {
  min-width: 250px;
  height: 30px;
  border-radius: 20px;
  border: none;
  color: #e61c5d;
  position: absolute;
}
.Newsletter .bx-search {
  position: relative;
  top: 10px;
  left: 220px;
}
